# Bash Snippets

snippet bash "shebang line"
	#!/usr/bin/env bash

snippet if "if statement"
	if [[ $1 ]]; then
	  ${0:${VISUAL}}
	fi

snippet elif "else if statement"
	elif [[ $1 ]]; then
	  ${0:${VISUAL}}

snippet wh "while loop"
	while [[ $1 ]]; do
	  ${0:${VISUAL}}
	done

snippet until "until loop"
	until [[ $1 ]]; do
	  ${0:${VISUAL}}
	done
