# Javascript snippets

snippet twcfg "For assets/js/tailwind.config.js" 
	module.exports = {
	  content: [
	    "./lib/**/*.{heex,ex}",
	    "./assets/**/*.{js,css}",
	  ],
	  theme: {
	    extend: {},
	  },
	  plugins: [],
	}
